<section id="projects" class="projects relative">
  <h2 class="projects__heading marg--lr--72">Meine Projekte</h2>
  <div class="projects__button__container marg--lr--72">
    <button
      (click)="
        !jsClicked ? (jsClicked = true) : (jsClicked = false);
        angularClicked = false
      "
      class="filterButton neonEffect"
      [class.neonActive]="jsClicked"
    >
      Javascript
    </button>
    <button
      (click)="
        !angularClicked ? (angularClicked = true) : (angularClicked = false);
        jsClicked = false
      "
      class="filterButton neonEffect"
      [class.neonActive]="angularClicked"
    >
      Angular
    </button>
  </div>

  <div
    [class.highlight]="angularClicked"
    [class.grey]="jsClicked"
    data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-offset="100"
    data-aos-duration="1000"
    class="projects__box turn bgc--black absolute left--1"
  >
    <img class="projects__box__img" src="/assets/img/willie.png" />
    <figcaption class="projects__box__text relative">
      <h3 class="projects__box__heading font--white">
        Willie - Eine intelligente Lernapp
      </h3>
      <span class="projects__box__description reg--18 font--white">
        Mit Willie können sich Nutzer ihren individuellen Lernplan erstellen
        lassen.
      </span>
      <div class="projects__box__icons__div absolute">
        <a href="https://github.com/OliverTheil/willie" target="_blank"
          ><i
            src="/assets/icons/github.png"
            class="fa-brands fa-github fa-3x github__icon"
          ></i>
        </a>
        <a
          href="https://oliver-theil.de/willie-learnsmart/index.html"
          target="_blank"
          ><img class="projects__box__icons" src="/assets/icons/arrow.png"
        /></a>
      </div>
    </figcaption>
  </div>
  <div
    [class.highlight]="jsClicked"
    [class.grey]="angularClicked"
    data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-offset="100"
    data-aos-duration="1000"
    class="projects__box bgc--black change absolute right--1"
  >
    <img class="projects__box__img" src="assets/img/pokedex.png" />
    <figcaption class="projects__box__text relative">
      <h3 class="projects__box__heading font--white">Ein Kanto-Pokedex</h3>
      <span class="projects__box__description reg--18 font--white">
        Mit Erfahrung in Javascript und dem eintauchen in API's konnte ich nun
        mein eigenen Pokedex erstellen.
      </span>
      <div class="projects__box__icons__div absolute">
        <a href="https://github.com/OliverTheil/Pokedex" target="_blank"
          ><i
            src="/assets/icons/github.png"
            class="fa-brands fa-github fa-3x github__icon"
          ></i>
        </a>
        <a href="https://oliver-theil.de/Pokedex" target="_blank"
          ><img class="projects__box__icons" src="/assets/icons/arrow.png"
        /></a>
      </div>
    </figcaption>
  </div>
  <div
    [class.highlight]="jsClicked"
    [class.grey]="angularClicked"
    data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-offset="100"
    data-aos-duration="1000"
    class="projects__box turn bgc--black absolute left--2"
  >
    <img class="projects__box__img" src="assets/img/elpolloloco.png" />
    <figcaption class="projects__box__text relative">
      <h3 class="projects__box__heading font--white">El pollo loco</h3>
      <span class="projects__box__description reg--18 font--white">
        Durch el pollo loco erschuf ich mein erstes Spiel mit Javascript und
        lernte Objektorientierte Programmierung im Canvas kennen.
      </span>
      <div class="projects__box__icons__div absolute">
        <a href="https://github.com/OliverTheil/ElpolloLoco" target="_blank"
          ><i
            src="/assets/icons/github.png"
            class="fa-brands fa-github fa-3x github__icon"
          ></i>
        </a>
        <a href="https://oliver-theil.de/ElpolloLoco/" target="_blank"
          ><img class="projects__box__icons" src="/assets/icons/arrow.png"
        /></a>
      </div>
    </figcaption>
  </div>
  <div
    [class.highlight]="angularClicked"
    [class.grey]="jsClicked"
    data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-offset="100"
    data-aos-duration="1000"
    class="projects__box bgc--black change absolute right--2"
  >
    <img class="projects__box__img" src="assets/img/cards.jpg" />
    <figcaption class="projects__box__text relative">
      <h3 class="projects__box__heading font--white">Angular und Firebase</h3>
      <span class="projects__box__description reg--18 font--white">
        Ring of Fire war dann mein nächstes großes Projekt: Ein
        Multiplayer-Kartenspiel.
      </span>
      <div class="projects__box__icons__div absolute">
        <a href="https://github.com/OliverTheil/Ring-of-Fire" target="_blank">
          <i
            src="/assets/icons/github.png"
            class="fa-brands fa-github fa-3x github__icon"
          ></i>
        </a>
        <a href="https://ring-of-fire-6ae18.firebaseapp.com/" target="_blank"
          ><img class="projects__box__icons" src="/assets/icons/arrow.png"
        /></a>
      </div>
    </figcaption>
  </div>
  <!-- <div class="projects__other__div absolute">
    <button routerLink="/otherprojects" class="projects__other__btn">
      Andere Projekte
    </button>
  </div> -->
</section>
