<section class="social">
  <h1 class="marg--lr--72">My social links:</h1>
  <div class="marg--lr--72 social__btn__div">
    <button
      onclick="window.open('https://github.com/OliverTheil')"
      class="social__btn button--effect"
    >
      github
    </button>
    <button
      onclick="window.open('https://www.linkedin.com/in/oliver-theil/')"
      class="social__btn button--effect"
    >
      LinkedIn
    </button>
    <button
      onclick="window.open('https://www.xing.com/profile/Oliver_Theil2/cv')"
      class="social__btn button--effect"
    >
      Xing
    </button>
  </div>
</section>
