<section class="headSection relative">
  <div class="headSectionBox black-2-Bg absolute"></div>
  <div class="headProfileImg z1 absolute"></div>
  <h1 class="headSection-Heading white-Font z2 absolute">
    Ich bin Oliver Theil.<br>
    Ein Front end Developer<br>
    aus Deutschland.
  </h1>
  <span class="headSection-Subheading reg18 white-Font z2 absolute">
    Seit geraumer Zeit code ich verschiedenste Projekte und habe durch den Einstieg in die Softwareentwicklung endlich das gefunden, 
    mit dem ich mich selbst verwirklichen kann. 
  </span>
</section>

