.head {
  max-width: 100vw;
  max-height: 100vh;
}

.head__img {
  width: 75rem;
  height: 65rem;
  background-image: url("/assets/img/otterExampleImg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 12rem;
}

.head__heading {
  width: 76rem;
  height: fit-content;
  line-height: 78px;
  text-align: left;

  top: 150px;
  right: 0;
}

.head__subheading {
  width: 76rem;
  height: fit-content;
  line-height: 150%;
  text-align: left;

  top: 56rem;
  right: 0;
}

.head--position {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.box {
  top: 0;
  right: 0;
  width: 120rem;
  height: 90rem;
}

@media (max-width: 1200px) {
  .head__heading {
    text-align: right;
    right: 0;
  }
  .head__subheading {
    text-align: right;
  }
}

@media (max-width: 1000px) {
  .head__img {
    margin-top: 8.8rem;
    height: 50rem;
    width: 100vw;
    max-width: 100%;
    background-position: top;
  }
  .head__heading {
    top: 50rem;
    right: auto;
    left: 0;
    text-align: left;
  }
  .head__subheading {
    text-align: left;
    width: fit-content;
    top: 84rem;
    right: 0;
    left: 0;
  }

  .box {
    height: 100vh;
  }
}

@media (max-width: 900px) {
  .head__heading {
    left: 0;
    width: fit-content;
  }
}

@media (max-width: 800px) {
  .head__heading {
    top: 56rem;
  }
}

@media (max-width: 600px) {
  .head__subheading {
    top: 76rem;
  }

  .head__heading {
    top: 56rem;
  }
}

@media (max-width: 400px) {
  .head__img {
    height: 40rem;
  }

  .head__heading {
    top: 46rem;
  }

  .head__subheading {
    top: 66rem;
  }
}

@media (max-width: 385px) {
  .head__subheading {
    top: 68rem;
  }
}
