.head {
  width: 100vw;
  max-width: 100%;
  max-height: 900px;
}

.head__img {
  width: 750px;
  height: 650px;
  margin-top: 120px;
  background-image: url("/assets/img/otterExampleImg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.head__img--position {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.box {
  top: 0;
  right: 0;
  width: 1200px;
  height: 900px;
}

.head__text {
  max-width: 720px;
  width: fit-content;
  height: fit-content;
  top: 270px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-top: 0;
  }
}

@media (max-width: 1400px) {
  .head__img {
    width: 400px;
    height: 600px;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }
}

@media (max-width: 1300px) {
  .head__text {
    align-items: flex-end;
    text-align: right;
  }
}

@media (max-width: 950px) {
  .head__text {
    max-width: 500px;
  }
}

@media (max-width: 750px) {
  .head__text {
    top: 540px;
    left: 0;
    bottom: auto;
    margin-left: 1.6rem;
    align-items: flex-start !important;
    text-align: left !important;
  }

  .head__img {
    margin-top: 88px;
    width: 260px;
    height: 400px;
  }
}

@media (max-width: 500px) {
  .head__img {
    margin-right: 0;
    margin-left: 0;
    width: 100vw;
    max-width: 100%;
  }
}

@media (max-width: 350px) {
  .head__text {
    top: 500px;
  }
}
