<section
  data-aos="fade-right"
  data-aos-offset="300"
  id="aboutMe"
  class="aboutMe bgc--black"
>
  <div class="marg--lr--72 aboutMe__text z--2">
    <div class="aboutMe__text__main">
      <h2 class="font--white">Über mich</h2>
      <span class="test reg--18 font--white">
        Ich komme aus dem wunderschönen Augsburg in Bayern. Nach einem einfachen
        Youtube-Tutorial der Developer Akademie, wusste ich sofort das dass hier
        viel mehr als ein Hobby sein wird. Ich versuchte mein Glück, wurde in
        der Developer Akademie aufgenommen und begann meine Weiterbildung als
        Front End Developer.
      </span>
    </div>
    <div class="aboutMe__btn__div">
      <button class="aboutMe__btn neonEffect" routerLink="/social">
        Mehr über mich
      </button>
    </div>
  </div>
  <img class="aboutMe__img absolute" src="assets/img/portfolioFoto2.png" />
</section>
