<section
  data-aos="fade-right"
  data-aos-offset="300"
  id="aboutMe"
  class="aboutMe bgc--black"
>
  <div class="marg--lr--72 aboutMe__text z--2">
    <div class="aboutMe__text__main">
      <h2 class="font--white textAlign--left">
        About <b class="font--purple">me</b>
      </h2>
      <span class="reg--18 font--white textAlign--left">
        I come from the beautiful Augsburg in Bavaria. Since I was a little boy,
        computers, hardware and gaming have accompanied me. And after a simple
        Youtube tutorial about JavaScript, I knew immediately that software
        development would be much more than just a hobby. I tried my luck, was
        accepted into the Developer Academy, and began my further education as a
        front-end developer.
      </span>
    </div>
    <div class="aboutMe__btn__div">
      <button class="aboutMe__btn button--effect" routerLink="/social">
        More about me
      </button>
    </div>
  </div>
  <img
    class="aboutMe__img absolute"
    src="/assets/img/profile/profileTwo.jpeg"
  />
</section>
