<section class="landingpage__container">
  <div class="box box--bgc absolute"></div>
  <div id="headpage" class="head">
    <img
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
      data-aos-duration="2000"
      class="head__img"
      src="/assets/img/profile/profileOne.jpeg"
    />
    <div
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
      data-aos-duration="2500"
      class="head__text marg--lr--72 absolute"
    >
      <h1 class="font--white z--1">
        I'm
        <b class="font--purple">Oliver</b>
        Theil.<br />
        A Front end Developer<br />
        from Germany.
      </h1>
      <span class="reg--18 font--white z--1 textAlign--left">
        A formal aircraft mechanic with a true passion for technology and
        software development
      </span>
    </div>
  </div>
</section>
