.head {
  width: 100vw;
  max-width: 100%;
  min-height: 900px;
  height: 100vh;
}

.head__img {
  filter: brightness(0.8);
  width: 580px;
  height: 760px;
  margin-top: 120px;
  margin-left: 144px;
  background-image: url("/assets/img/profile/profileOne.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 1400px) {
    width: 600px;
    height: 760px;
    margin-left: 144px;
    margin-right: 144px;
  }

  @media (max-width: 1150px) {
    width: 500px;
    height: 700px;
  }

  @media (max-width: 750px) {
    margin-left: 0;
    margin-right: 0;
    margin-top: 88px;
    width: calc(100% - 32px);
    height: 500px;
  }

  @media (max-width: 500px) {
    height: 400px;
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;
  }
}

.head__img--position {
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 500px) {
    justify-content: center;
  }
}

.box {
  top: 0;
  right: 0;
  width: 1200px;
  height: 100%;
}

.box--bgc {
  background-color: #181823af;
  @media (max-width: 600px) {
    background: linear-gradient(#181823af, black);
  }
}

.head__text {
  max-width: 720px;
  width: fit-content;
  height: fit-content;
  top: 270px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  h1 {
    margin-top: 0;
  }
  @media (max-width: 1300px) {
    align-items: flex-end;
    text-align: right;
  }

  @media (max-width: 950px) {
    max-width: 500px;
  }
  @media (max-width: 750px) {
    top: 640px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: auto;
    align-items: flex-start !important;
    text-align: left !important;
  }

  @media (max-width: 550px) {
    margin-left: 32px;
    margin-right: 32px;
  }

  @media (max-width: 500px) {
    top: 540px;
  }

  @media (max-width: 350px) {
    top: 540px;
  }
}
