.head {
  width: 100vw;
  max-width: 100%;
  min-height: 900px;
  height: fit-content;
}

.head__img {
  filter: brightness(0.8);
  width: 580px;
  height: 760px;
  margin-top: 120px;
  margin-left: 72px;
  background-image: url("/assets/img/portfolioFoto.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 1400px) {
    width: 600px;
    height: 760px;
    margin-left: 16px;
    margin-right: 16px;
  }

  @media (max-width: 1150px) {
    width: 500px;
    height: 700px;
  }

  @media (max-width: 750px) {
    margin-top: 0px;
    width: 460px;
    height: 600px;
  }

  @media (max-width: 500px) {
    margin-right: 0;
    margin-left: 0;
    width: 100vw;
    max-width: 100%;
  }
}

.head__img--position {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.box {
  top: 0;
  right: 0;
  width: 1200px;
  height: 900px;
}

.head__text {
  max-width: 720px;
  width: fit-content;
  height: fit-content;
  top: 270px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  h1 {
    margin-top: 0;
  }
  @media (max-width: 1300px) {
    align-items: flex-end;
    text-align: right;
  }

  @media (max-width: 950px) {
    max-width: 500px;
  }
  @media (max-width: 750px) {
    top: 540px;
    left: 0;
    bottom: auto;
    margin-left: 1.6rem;
    align-items: flex-start !important;
    text-align: left !important;
  }

  @media (max-width: 350px) {
    top: 500px;
  }
}
