<section id="headpage" class="head">
  <div class="box bgc--black--2 absolute"></div>
  <div class="head__img--position">
    <div
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
      data-aos-duration="2000"
      class="head__img"
    ></div>
  </div>
  <div
    data-aos="fade-up"
    data-aos-anchor-placement="center-bottom"
    data-aos-duration="2000"
    class="head__text marg--lr--72 absolute"
  >
    <h1 class="font--white z--1">
      Ich bin Oliver Theil.<br />
      Ein Front end Developer<br />
      aus Deutschland.
    </h1>
    <span class="reg--18 font--white z--1">
      Seit geraumer Zeit code ich verschiedenste Projekte und habe durch den
      Einstieg in die Softwareentwicklung endlich das gefunden, mit dem ich mich
      selbst verwirklichen kann.
    </span>
  </div>
</section>
