.aboutMeSection {
    top: 100vh;
    left: -7.2rem;
    height: 60rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.aboutMeText {
    display: flex;
    flex-direction: column;
}

.aboutMe-Heading {
    margin-left: 14.4rem;
    width: 280px;
    height: fit-content;
}

.aboutMeImg {
    width: 75rem;
    height: 60rem;
    right: -7.2rem;
}

.aboutMe-Subheading {
    width: 576px;
    height: fit-content;
    line-height: 150%;
    text-align: justify;
    margin-left: 14.4rem;
}

.aboutMeMore {
    width: fit-content;
    height: fit-content;
    line-height: 150%;
    margin-left: 14.4rem;
    text-decoration: underline;
    cursor: pointer;
    transition: all .125s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

@media(max-width: 1400px) {
    .aboutMeSection {
        background-color: black;
    }
    .aboutMe-Heading,
    .aboutMe-Subheading,
    .aboutMeMore {
        color: white;
    }
}

@media(max-width: 500px) {
    .aboutMe-Heading,
    .aboutMe-Subheading,
    .aboutMeMore {
        margin-left: 8.8rem;
    }
}
