<section id="aboutMe" class="aboutMe bgc--black">
  <div class="marg--lr--72 aboutMe__text z--2">
    <div class="aboutMe__text__main">
      <h2 class="font--white">Über mich</h2>
      <span class="test reg--18 font--white">
        Ich komme aus dem wunderschönen Augsburg in Bayern. Nach einem einfachen
        Youtube-Tutorial der Developer Akademie, wusste ich sofort das dass hier
        nicht einfach nur ein Job ist. Es fühlte sich nach so viel mehr an. Ich
        versuchte mein Glück, wurde in der Developer Akademie aufgenommen und
        begann meine Weiterbildung als Front End Developer.
      </span>
    </div>
    <p routerLink="/moreaboutme" class="aboutMe__more reg--16 font--white">
      Mehr über mich
    </p>
  </div>
  <img class="aboutMe__img absolute" src="assets/img/macbook2.jpg" />
</section>
