<section id="aboutMe" class="aboutMeSection white-Bg absolute">
  <div class="textBox">
    <h2 class="aboutMe-Heading marginHorizontal72 black-Font z2">Über mich</h2>
    <span class="aboutMe-Subheading marginHorizontal72 reg18 black-Font z2">
      Ich komme aus dem wunderschönen Augsburg in Bayern. Nach einem einfachen
      Youtube-Tutorial der Developer Akademie, wusste ich bereits nach kurzer
      Zeit das das hier nicht einfach nur ein Job ist. Es fühlte sich nach so
      viel mehr an. Ich versuchte mein Glück, wurde in der Developer Akademie
      aufgenommen und begann meine Weiterbildung als Front End Developer.
    </span>
    <p class="aboutMeMore marginHorizontal72 reg16 black-Font z2">
      Mehr über mich
    </p>
  </div>
  <img class="aboutMeImg absolute" src="assets/img/macbook2.jpg" />
</section>
