<section id="aboutMe" class="aboutMeSection white-Bg">
    <p class="aboutMe-Heading black-Font z2">
      Über mich
    </p>
    <span class="aboutMe-Subheading black-Font z2">
      Nach einem einfachen Youtube-Tutorial der Developer Akademie, wusste ich bereits nach kurzer Zeit das das hier nicht einfach nur 
      ein Job ist. Es fühlte sich nach so viel mehr an. Ich versuchte mein Glück, wurde in der Developer Akademie aufgenommen und begann meine Weiterbildung 
      als Front End Developer. 
    </span>
    <p class="aboutMeMore black-Font z2">
      Mehr über mich
    </p>
    <img class="aboutMeImg" src="assets/img/macbook2.jpg">
  </section>
