<img class="logo z4" src="/assets/logos/logoPurple.png" />
<button
  (click)="openMenu()"
  [class.change1]="iconHovered"
  class="headerMenuButton z4"
>
  <i
    [class.change2]="iconHovered"
    class="fa-solid fa-arrow-right-from-bracket fa-2x"
  ></i>
</button>
<header>
  <nav class="navbar-Desktop">
    <a href="#headpage">Home</a>
    <a href="#aboutMe">Über mich</a>
    <a href="#skills">Skills</a>
    <a href="#projects">Projekte</a>
    <a href="#contact">Kontakt</a>
  </nav>
  <nav [class.showNavbar]="iconHovered" class="navbar-Mobile z5 fixed">
    <a (mouseover)="showText()" (click)="openMenu()" href="#headpage"
      ><i class="fa-solid icon fa-house fa-3x"></i
    ></a>
    <a (mouseover)="showText()" (click)="openMenu()" href="#aboutMe"
      ><i class="fa-solid icon fa-user fa-3x"></i
    ></a>
    <a (mouseover)="showText()" (click)="openMenu()" href="#skills"
      ><i class="fa-solid icon fa-clipboard-list fa-3x"></i
    ></a>
    <a (mouseover)="showText()" (click)="openMenu()" href="#projects"
      ><i class="fa-solid icon fa-boxes-stacked fa-3x"></i
    ></a>
    <a (mouseover)="showText()" (click)="openMenu()" href="#contact"
      ><i class="fa-solid icon fa-address-card fa-3x"></i
    ></a>
    <a (mouseover)="showText()" (click)="openMenu()" href="#footer"
      ><i class="fa-solid icon fa-square-caret-down fa-3x"></i
    ></a>
  </nav>
  <div
    [class.showNavbarText]="activeText"
    [class.navbarChange]="iconHovered"
    id="mobileText"
    class="navbar-MobileText fixed z4"
  >
    <a (click)="openMenu()" href="#headpage">Home</a>
    <a (click)="openMenu()" href="#aboutMe">Über mich</a>
    <a (click)="openMenu()" href="#skills">Skills</a>
    <a (click)="openMenu()" href="#projects">Projekte</a>
    <a (click)="openMenu()" href="#contact">Kontakt</a>
    <a (click)="openMenu()" href="#contact">Footer</a>
  </div>
</header>
