.logo {
  position: fixed;
  height: 6rem;
  object-fit: contain;
  top: 1.4rem;
  left: 7.2rem;

  &:hover {
    cursor: pointer;
    filter: brightness(1.5);
  }

  @media (max-width: 750px) {
    top: 2.4rem;
    height: 4rem;
  }

  @media (max-width: 500px) {
    left: 1.6rem;
  }
}

.navbar-Desktop {
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0;
  height: 88px;
  width: 100%;
  padding-right: 72px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: rgba(255, 255, 255, 0.137);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);

  a {
    height: 88px;
    text-decoration: none;
    padding-left: 24px;
    padding-right: 24px;
    position: static;
    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    display: flex;
    align-items: center;
    text-align: right;

    color: #ffffff;

    opacity: 0.7;
    transition: all 125ms ease-in-out;
    &:hover {
      opacity: 1;
      background-color: #5221e6;
    }
  }

  @media (max-width: 800px) {
    display: none;
  }
}

.change1 {
  transition: all 100ms ease-in-out;
  opacity: 1 !important;
  transform: rotate(0deg) !important;
  color: #5221e6 !important;
}

.change2 {
  transition: all 100ms ease-in-out;
  opacity: 1 !important;
  transform: rotate(0deg) !important;
  color: #5221e6 !important;
}

.showNavbar {
  display: flex !important;
}

.showNavbarText {
  display: flex !important;
}

.navbarChange {
  width: 18rem;
  background: rgba(65, 14, 185, 0.219);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.navbar-Mobile {
  top: 9rem;
  right: 0;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  display: none;
  transition: all 125ms ease-in-out;
}

.icon {
  color: rgba(113, 66, 223, 0.678);
  padding: 1.6rem;
  opacity: 0.8;
  transition: all 125ms ease-in-out;

  &:hover {
    color: #5c26ff;
    opacity: 1;
    filter: brightness(1.8);
    transform: scale(1.1);
  }
}

.fa-arrow-right-from-bracket {
  color: rgba(179, 179, 179, 0.897);
  opacity: 0.8;
  transition: all 125ms ease-in-out;
}

.navbar-MobileText {
  top: 9rem;
  right: 0rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 40rem;
  justify-content: space-between;
  display: none;
  transition: all 125ms ease-in-out;

  a {
    height: 5rem;
    text-decoration: none;
    padding: 1.6rem;
    position: static;
    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: right;
    color: #ffffff;
    opacity: 0.7;
    transition: all 125ms ease-in-out;

    &:hover {
      opacity: 1;
      color: #5221e6;
    }
  }
}

.headerMenuButton {
  padding: 0rem !important;
  height: 32px;
  width: 32px;
  transform: rotate(180deg);
  background-color: transparent;
  border: none;
  position: fixed;
  right: 1.6rem;
  top: 3rem;
  display: none;
  opacity: 0.7;
  cursor: pointer;
  transition: all 125ms ease-in-out;

  @media (max-width: 800px) {
    display: flex;
  }
}
