<section class="headSection">
  <div class="headProfileImg z1"></div>
  <div class="headSectionBox black-2-Bg"></div>
  <span class="headSection-Heading z2">
    Ich bin Oliver Theil.<br>
    Front end Developer<br>
    aus Deutschland.
  </span>
  <span class="headSection-Subheading z2">
    Seit geraumer Zeit code ich verschiedenste Projekte und habe durch den Einstieg in die Softwareentwicklung endlich das gefunden, 
    mit dem ich mich selbst verwirklichen kann. 
  </span>
</section>
<section class="aboutMeSection white-Bg">
  <p class="aboutMe-Heading black-Font z2">
    Über mich
  </p>
  <span class="aboutMe-Subheading black-Font z2">
    Nach einem einfachen Youtube-Tutorial der Developer Akademie, wusste ich bereits nach kurzer Zeit das das hier nicht einfach nur 
    ein Job ist. Es fühlte sich nach so viel mehr an. Ich versuchte mein Glück, wurde in der Developer Akademie aufgenommen und begann meine Weiterbildung 
    als Front End Developer. 
  </span>
  <p class="aboutMeMore black-Font z2">
    Mehr über mich
  </p>
  <img class="aboutMeImg" src="assets/img/macbook2.jpg">
</section>
<section class="skillset black-Bg">
  <p class="skillset-Heading z2">
    Skillset
  </p>
  <span class="skillset-Subheading z2">
    Egal welches Projekt ich code, Leidenschaft und Spaß ist immer an erster Stelle. Ob beim Start von einfachen Seiten mit HTML und CSS oder der 
    Einbindung von JavaScript und APIs. 
    <br><br> 
    Doch auch abseits der Softwareentwicklung habe ich viele Erfahrungen gesammelt, die unterschiedlicher
    nicht sein könnten. Ob im Flugzeugbau mit CFK oder Titan, 3D Druck oder Soft- und Hardwarebereich .   
    <br><br>
    Durch meine jahrelange Erfahrung in den verschiedensten Bereichen kann ich zu jedem Projekt andere Blickwinkel 
    einbringen und mit unterschiedlichen Teams auch jedes Ziel <b>gemeinsam</b> erreichen. 
  </span>
  <div class="skillBox" style="top: 120px; right: 480px;">
    <img class="icon" src="/assets/icons/htmlcss.png">
    <p class="iconDescription">HTML/CSS</p>
  </div>
  <div class="skillBox" style="top: 120px; right: 280px;">
    <img class="icon" src="/assets/icons/java script.png">
    <p class="iconDescription">JavaScript</p>
  </div>
  <div class="skillBox" style="top: 120px; right: 80px;">
    <img class="icon" src="/assets/icons/angular.png">
    <p class="iconDescription">Angular</p>
  </div>
  <div class="skillBox" style="top: 300px; right: 480px;">
    <img class="icon" src="/assets/icons/api.png">
    <p class="iconDescription">APIs</p>
  </div>
  <div class="skillBox" style="top: 300px; right: 280px;">
    <img class="icon" src="/assets/icons/git.png">
    <p class="iconDescription">git</p>
  </div>
  <div class="skillBox" style="top: 300px; right: 80px;">
    <img class="icon" src="/assets/icons/scrum.png">
    <p class="iconDescription">Scrum</p>
  </div>
  <div class="skillBox" style="top: 480px; right: 480px;">
    <img class="icon" src="/assets/icons/computer.svg">
    <p class="iconDescription">Hard-/Software</p>
  </div>

  <div class="skillBox" style="top: 480px; right: 280px;">
    <img class="icon" src="/assets/icons/pen.png">
    <p class="iconDescription">Design</p>
  </div>

  <div class="skillBox" style="top: 480px; right: 80px;">
    <img class="icon" src="/assets/icons/3d.svg">
    <p class="iconDescription">3D Printing</p>
  </div>
</section>
