//Head

.headSection {
    width: 100%;
    height: 100vh;

    @media(max-width: 400px) {
        height: 84vh;
    }
}

.headSectionBox {
    position: absolute;
    width: 1200px;
    height: 900px;
    right: 0px;
    top: 0px;

    @media(max-width: 1200px) {
        height: 100vh;
    }

    @media(max-width: 400px) {
        height: 84vh;
    }
}

.headProfileImg {
    position: absolute;
    width: 750px;
    height: 650px;
    left: 0px;
    top: 125px;
    background-image: url('/assets/img/otterExampleImg.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    @media(max-width: 1200px) {
        width: 400px;
        background-position: center;
    }
    
    @media(max-width: 900px) {
        top: 88px;
        width: 100%;
    }

    @media(max-width: 900px) {
        width: 100%;
        height: 500px;
    }

    @media(max-width: 400px) {
        width: 100%;
        height: 300px;
    }

}

.headSection-Heading {
    font-size: 65px;
    line-height: 78px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    width: 760px;
    height: 263px;
    right: 72px;
    top: 273px;
    text-align: right;

    @media(max-width: 900px) {
        top: 628px;
        display: flex;
        align-items: center;
        font-size: 32px;
        line-height: 38px;
        width: 303px;
        height: 156px;
        left: 16px;
        right: auto;
        text-align: left;
    }

    @media(max-width: 400px) {
        top: 428px;
    }
}

.headSection-Subheading {
    position: absolute;
    width: 720px;
    height: 54px;
    right: 72px;
    top: 566px;

    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: justify;

    @media(max-width: 900px) {
        width: 90%;
        left: 16px;
        right: auto;
        height: 100px;
        top: 828px;
        font-size: 18px;
        line-height: 150%;
    }

    @media(max-width: 400px) {
        top: 628px;
    }
}

//About Me

.aboutMeSection {
    position: absolute;
    top: 100vh;
    height: 60vh;
    width: 100%;
    display: flex;
}

.aboutMe-Heading {
    position: absolute;
    width: 280px;
    height: 66px;
    left: 72px;
    top: 120px;

    color: black;
    font-weight: bold;
    font-size: 55px;
    line-height: 66px;
    display: flex;
    align-items: center;

    @media(max-width: 900px) {
        font-size: 32px;
        line-height: 38px;
        left: 16px;
        top: 40px;
        width: 160px;
    }
}

.aboutMeImg {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 750px;
    height: 60vh;

    @media(max-width: 1410px) {
        object-fit: cover;
        width: 100%;
        left: 0px;
        right: auto;
    }
}

.aboutMe-Subheading {
    position: absolute;
    width: 576px;
    height: 240px;
    left: 72px;
    top: 210px;

    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: justify;

    @media(max-width: 900px) {
        width: 90%;
        left: 16px;
        top: 140px;
    }
}

.aboutMeMore {
    position: absolute;
    width: 140px;
    height: 24px;
    left: 72px;
    top: 451px;

    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-decoration: underline;
    cursor: pointer;
    transition: all .125s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }

    @media(max-width: 900px) {
        left: 16px;
    }
    @media(max-width: 400px) {
        top: 480px;
    }
}

//skillset

.skillset {
    position: absolute;
    top: 160vh;
    width: 100%;
    height: 70vh;
}

.skillset-Heading {
    position: absolute;
    width: 189px;
    height: 66px;
    left: 72px;
    top: 120px;

    font-family: Sen;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 66px;
    display: flex;
    align-items: center;

    @media(max-width: 900px) {
        top: 40px;
        left: 16px;
    }
}

.skillset-Subheading {
    position: absolute;
    width: 576px;
    height: 400px;
    left: 72px;
    top: 210px;

    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: justify;

    @media(max-width: 900px) {
        left: 16px;
        width: 90%;
    }
}

.icon {
    object-fit: contain;
    height: 32px;
}
.iconDescription {
    width: 150px;
    height: 29px;
    display: flex;
    justify-content: center;
    font-family: Sen;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

.skillBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 140px;
    height: 60px;
    cursor: pointer;
    transition: all .125s ease-in-out;

    &:hover {
        transform: scale(1.2);
    }
}

.htmlcss {
    top: 120px; 
    right: 472px;

    @media(max-width: 1300px) {
        top: auto;
        bottom: 40px;
        left: 72px;
    }
}

.js {
    top: 120px; 
    right: 272px;

    @media(max-width: 1300px) {
        top: auto;
        bottom: 40px;
        left: 222px;
    }
}

.angular {
    top: 120px; 
    right: 72px;

    @media(max-width: 1300px) {
        top: auto;
        bottom: 40px;
        left: 372px;
    }
}

.apis {
    top: 300px; 
    right: 472px;

    @media(max-width: 1300px) {
        top: auto;
        bottom: 40px;
        left: 522px;
    }
}

.git {
    top: 300px; 
    right: 272px;

    @media(max-width: 1300px) {
        top: auto;
        bottom: 40px;
        left: 672px;

    }
}

.scrum {
    top: 300px; 
    right: 72px;

    @media(max-width: 1300px) {
        left: 672px;
        top: auto;
        bottom: 140px;
    }

    @media(max-width: 900px) {
        left: 672px;
        top: auto;
        bottom: 140px;
    }
}

.hardware {
    top: 480px; 
    right: 472px;

    @media(max-width: 1300px) {
        left: 672px;
        top: auto;
        bottom: 240px;
    }
}

.design {
    top: 480px; 
    right: 272px;

    @media(max-width: 1300px) {
        left: 672px;
        top: auto;
        bottom: 340px;
    }
}

.print {
    top: 480px; 
    right: 72px;

    @media(max-width: 1300px) {
        left: 672px;
        top: auto;
        bottom: 440px;
    }
}

//myPath

.myPath {
    position: absolute;
    top: 230vh;
    height: 60vh;
    width: 100%;
}

.myPath-Heading {
    position: absolute;
    width: 580px;
    height: 66px;
    right: 72px;
    top: 120px;
    
    font-family: Sen;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 66px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.myPath-Subheading {
    position: absolute;
    width: 576px;
    height: 240px;
    right: 72px;
    top: 210px;

    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: justify;
}

.myPathImg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 750px;
    height: 60vh;
}

//projects

.projects {
    position: absolute;
    width: 100%;
    height: 206vh;
    top: 290vh;
    border-bottom: 1px solid #5221e67e;
}

.projects-Heading {
    position: absolute;
    width: 420px;
    height: 66px;
    left: 72px;
    top: 120px;

    font-family: Sen;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 66px;
    display: flex;
    align-items: center;    
}

.projectBox {
    position: absolute;
    width: 650px;
    height: 810px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;

    transition: all .125s ease-in-out;

    &:hover {
        transform: scale(1.02);
    }
}

.projectBoxImg {
    position: absolute;
    object-fit: cover;
    width: 650px;
    height: 600px;
    top: 0px;
}

.projectBox-Heading {
    position: static;
    width: 333px;
    height: 29px;
    left: 32px;
    top: 40px;

    font-family: Sen;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    display: flex;
    align-items: center;
}

.projectBox-Subheading {
    position: absolute;
    width: 572px;
    height: 81px;
    left: 32px;
    top: 87px;

    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: justify;
    line-height: 150%;

    display: flex;
    align-items: center;
}

.projectBoxTextBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 32px;

    position: absolute;
    width: 586px;
    height: 130px;
    top: 600px;
    left: 0;
}

.otherProjectsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 32px;

    position: absolute;
    width: 250px;
    height: 75px;
    right: 272px;
    top: 1830px;

    cursor: pointer;
    border: 1px solid #5221E6;
    box-sizing: border-box;

    transition: all .125s ease-in-out;

    &:hover {
        background-color: #5221E6;
        transform: scale(1.02);
    }
}

.otherProjectsSpan {
    position: absolute;
    width: 183px;
    height: 27px;
    left: 32px;
    top: 24px;
    
    font-family: Sen;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    
    text-transform: uppercase;
}

//contact Me

.contactMe {
    position: absolute;
    height: 60vh;
    width: 100%;
    top: 496vh;
}

.contactMe-Heading {
    position: absolute;
    width: 526px;
    height: 66px;
    left: 72px;
    top: 120px;

    font-family: Sen;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 66px;
    display: flex;
    align-items: center;
}

.contactMe-Subheading {
    position: absolute;
    width: 526px;
    height: 54px;
    left: 72px;
    top: 210px;

    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: justify;
    line-height: 150%;
}

.contactMeNameHeading {
    position: absolute;
    width: 46px;
    height: 24px;
    right: 72px;
    top: 120px;

    /* Paragraph - 16px */

    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}

.nameInput {
    position: absolute;
    width: 526px;
    height: 50px;
    right: 72px;
    top: 152px;
    border: none;
    padding-right: 10px;
    padding-left: 10px;
    /* Level 1 */

    background: #181823;
}

.contactMeEmailHeading {
    position: absolute;
    width: 44px;
    height: 24px;
    right: 72px;
    top: 242px;
    
    /* Paragraph - 16px */
    
    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}

.emailInput {
    position: absolute;
    width: 526px;
    height: 50px;
    right: 72px;
    top: 274px;
    border: none;
    padding-right: 10px;
    padding-left: 10px;

    background: #181823;
}

.contactMeMessageHeading {
    position: absolute;
    width: 64px;
    height: 24px;
    right: 72px;
    top: 364px;
    
    /* Paragraph - 16px */
    
    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}

.messageInput {
    position: absolute;
    width: 526px;
    height: 100px;
    right: 72px;
    top: 396px;
    padding: 10px;
    resize: none;
    overflow:auto;
    /* Level 1 */
    border: none;
    background: #181823;
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
      }
    
}

*:focus {
    outline: none;
}

@media (max-width: 1410px) {
    .aboutMeSection {
        background-color: black;
    }

    .aboutMeSection * {
        color: white;
    }
}

