<section class="headSection">
  <div class="headProfileImg z1"></div>
  <div class="headSectionBox black-2-Bg"></div>
  <span class="headSection-Heading z2">
    Ich bin Oliver Theil.<br>
    Ein Front end Developer<br>
    aus Deutschland.
  </span>
  <span class="headSection-Subheading z2">
    Seit geraumer Zeit code ich verschiedenste Projekte und habe durch den Einstieg in die Softwareentwicklung endlich das gefunden, 
    mit dem ich mich selbst verwirklichen kann. 
  </span>
</section>
<section class="aboutMeSection white-Bg">
  <p class="aboutMe-Heading black-Font z2">
    Über mich
  </p>
  <span class="aboutMe-Subheading black-Font z2">
    Nach einem einfachen Youtube-Tutorial der Developer Akademie, wusste ich bereits nach kurzer Zeit das das hier nicht einfach nur 
    ein Job ist. Es fühlte sich nach so viel mehr an. Ich versuchte mein Glück, wurde in der Developer Akademie aufgenommen und begann meine Weiterbildung 
    als Front End Developer. 
  </span>
  <p class="aboutMeMore black-Font z2">
    Mehr über mich
  </p>
  <img class="aboutMeImg" src="assets/img/macbook2.jpg">
</section>
<section class="skillset black-Bg">
  <p class="skillset-Heading z2">
    Skillset
  </p>
  <span class="skillset-Subheading z2">
    Egal welches Projekt ich code, Leidenschaft und Spaß ist immer an erster Stelle. Ob beim Start von einfachen Seiten mit HTML und CSS oder der 
    Einbindung von JavaScript und APIs. 
    <br><br> 
    Doch auch abseits der Softwareentwicklung habe ich viele Erfahrungen gesammelt, die unterschiedlicher
    nicht sein könnten. Ob im Flugzeugbau mit CFK oder Titan, 3D Druck oder Soft- und Hardwarebereich .   
    <br><br>
    Durch meine jahrelange Erfahrung in den verschiedensten Bereichen kann ich zu jedem Projekt andere Blickwinkel 
    einbringen und mit unterschiedlichen Teams auch jedes Ziel <b>gemeinsam</b> erreichen. 
  </span>
  <div class="skillBox" style="top: 120px; right: 472px;">
    <img class="icon" src="/assets/icons/htmlcss.png">
    <p class="iconDescription">HTML/CSS</p>
  </div>
  <div class="skillBox" style="top: 120px; right: 272px;">
    <img class="icon" src="/assets/icons/java script.png">
    <p class="iconDescription">JavaScript</p>
  </div>
  <div class="skillBox" style="top: 120px; right: 72px;">
    <img class="icon" src="/assets/icons/angular.png">
    <p class="iconDescription">Angular</p>
  </div>
  <div class="skillBox" style="top: 300px; right: 472px;">
    <img class="icon" src="/assets/icons/api.png">
    <p class="iconDescription">APIs</p>
  </div>
  <div class="skillBox" style="top: 300px; right: 272px;">
    <img class="icon" src="/assets/icons/git.png">
    <p class="iconDescription">git</p>
  </div>
  <div class="skillBox" style="top: 300px; right: 72px;">
    <img class="icon" src="/assets/icons/scrum.png">
    <p class="iconDescription">Scrum</p>
  </div>
  <div class="skillBox" style="top: 480px; right: 472px;">
    <img class="icon" src="/assets/icons/computer.svg">
    <p class="iconDescription">Hardware</p>
  </div>
  <div class="skillBox" style="top: 480px; right: 272px;">
    <img class="icon" src="/assets/icons/pen.svg">
    <p class="iconDescription">Design</p>
  </div>
  <div class="skillBox" style="top: 480px; right: 72px;">
    <img class="icon" src="/assets/icons/3d.svg">
    <p class="iconDescription">3D Printing</p>
  </div>
</section>
<section class="myPath white-Bg">
  <p class="myPath-Heading black-Font z2">
    Mein Weg bis heute
  </p>
  <span class="myPath-Subheading black-Font z2">
    Als ich damals entschied das Abitur zu machen wusste ich nicht wofür. Mein Leben kannte nie einen klaren
    Weg. Jeden Tag dachte ich warum? Danach führte er mich in den Flugzeugbau und ich wurde Fluggerätmechaniker. Trotzdem war mir immer klar, 
    das das nur ein Übergang ist. Das mein Herz für etwas ganz anderes schlägt. Mit dem Einstieg in die Softwareentwicklung, begann endlich sich
    der eine Weg zu öffnen, der das ist, was ich zuvor nicht finden konnte. Ein Bereich der mir wirklich alles bedeutet. 
  </span>
  <img class="myPathImg" src="assets/img/path.jpg">
</section>
<section class="projects">
  <p class="projects-Heading">Meine Projekte</p>
  <div class="projectBox white-Bg" style="right: 72px; top: 120px;">
    <img class="projectBoxImg" src="assets/img/controller.jpg">
    <figcaption class="projectBoxTextBox">
      <p class="projectBox-Heading black-Font">
        Filler-Überschrift
      </p>
      <span class="projectBox-Subheading black-Font">
        Filler-Text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti molestias ipsa animi distinctio laudantium repellendus!
      </span>
    </figcaption>
  </div>
  <div class="projectBox white-Bg" style="right: 72px; top: 950px;">
    <img class="projectBoxImg" src="assets/img/controller.jpg">
    <figcaption class="projectBoxTextBox">
      <p class="projectBox-Heading black-Font">
        Filler-Überschrift
      </p>
      <span class="projectBox-Subheading black-Font">
        Filler-Text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti molestias ipsa animi distinctio laudantium repellendus!
      </span>
    </figcaption>
  </div>  
  <div class="projectBox white-Bg" style="left: 72px; top: 306px;">
    <img class="projectBoxImg" src="assets/img/controller.jpg">
    <figcaption class="projectBoxTextBox">
      <p class="projectBox-Heading black-Font">
        Filler-Überschrift
      </p>
      <span class="projectBox-Subheading black-Font">
        Filler-Text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti molestias ipsa animi distinctio laudantium repellendus!
      </span>
    </figcaption>
  </div>  
  <div class="projectBox white-Bg" style="left: 72px; top: 1136px;">
    <img class="projectBoxImg" src="assets/img/controller.jpg">
    <figcaption class="projectBoxTextBox">
      <p class="projectBox-Heading black-Font">
        Filler-Überschrift
      </p>
      <span class="projectBox-Subheading black-Font">
        Filler-Text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti molestias ipsa animi distinctio laudantium repellendus!
      </span>
    </figcaption>
  </div>
  <div class="otherProjectsContainer">
    <span class="otherProjectsSpan">
      Andere Projekte
    </span>
  </div>
</section>
<section class="contactMe">
  <p class="contactMe-Heading">
    Kontaktiere mich
  </p>
  <span class="contactMe-Subheading">
      Da du mich nun näher kennen lernen konntest und ich sicherlich dein Interesse geweckt habe, schreib mir doch einfach.
  </span>
  <div class="inputContainer">
    <input type="text" class="nameInput">
    <input type="text" class="emailInput">
    <textarea cols="30" rows="4" class="messageInput"></textarea>
    <p class="contactMeNameHeading">Name</p>
    <p class="contactMeEmailHeading">Email</p>
    <p class="contactMeMessageHeading">Message</p>
  </div>
</section>