<footer class="relative z--3">
  <div class="footer__allIcons">
    <i
      onclick="window.open('https://github.com/OliverTheil')"
      class="footer__icon"
      src="/assets/icons/github.png"
      class="fa-brands fa-github fa-3x footer__icon"
    ></i>

    <i
      onclick="window.open('https://www.xing.com/profile/Oliver_Theil2/cv')"
      src="/assets/icons/xing-fill.png"
      class="fa-brands fa-xing fa-3x footer__icon"
    ></i>

    <i
      onclick="window.open('https://www.linkedin.com/in/oliver-theil/')"
      class="footer__icon"
      src="/assets/icons/LinkedIn 1.png"
      class="fa-brands fa-linkedin fa-3x footer__icon"
    ></i>
  </div>
  <div class="footer__allLinks">
    <a class="footer__link" routerLink="/imprint">Imprint</a>
    <a class="footer__link" routerLink="/dataprotection">Data protection</a>
  </div>
</footer>
