.contact {
  height: 600px;
  width: 100vw;
  max-width: 100%;
  @media (max-width: 1360px) {
    height: 790px;
  }
  @media (max-width: 600px) {
    height: 720px;
  }
}

.form {
  position: relative;
  @media (min-width: 1920px) {
    width: 1910px;
    margin-left: auto;
    margin-right: auto;
  }
  height: fit-content;
}

.contact__heading {
  height: fit-content;
}

.contact__subheading {
  max-width: 54rem;
  height: fit-content;
  margin-top: 4rem;
  text-align: left;
  font-size: large;
}

.contact__heading__name {
  width: fit-content;
  height: fit-content;
  top: 0rem;
  right: 0;
  margin-top: 0;

  @media (max-width: 1360px) {
    top: 200px;
    right: auto;
  }
}

.contact__input__name {
  width: 52rem;
  height: 5rem;
  top: 3.2rem;
  right: 144px;
  border: none;
  padding-right: 10px;
  padding-left: 10px;
  background: #181823;

  @media (max-width: 1360px) {
    top: 232px;
    right: auto;
    width: calc(100% - 308px);
  }

  @media (max-width: 750px) {
    width: calc(100% - 84px);
  }
}

.contact__heading__email {
  width: fit-content;
  height: fit-content;
  top: 12.2rem;
  right: 0;
  margin-top: 0;

  @media (max-width: 1360px) {
    top: 322px;
    right: auto;
  }
}

.contact__input__email {
  width: 52rem;
  height: 5rem;
  top: 15.4rem;
  right: 144px;
  border: none;
  padding-right: 10px;
  padding-left: 10px;
  background: #181823;

  @media (max-width: 1360px) {
    top: 354px;
    right: auto;
    width: calc(100% - 308px);
  }

  @media (max-width: 750px) {
    width: calc(100% - 84px);
  }
}

.contact__heading__message {
  width: fit-content;
  height: fit-content;
  right: 0;
  top: 244px;
  margin-top: 0;

  @media (max-width: 1360px) {
    top: 444px;
    right: auto;
  }
}

.contact__input__message {
  width: 520px;
  height: 100px;
  right: 144px;
  top: 272px;
  padding: 10px;
  resize: none;
  overflow: auto;
  border: none;
  background: #181823;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 1360px) {
    top: 480px;
    width: calc(100% - 308px);
  }

  @media (max-width: 750px) {
    width: calc(100% - 84px);
  }
}

@media (max-width: 1360px) {
  .input--positionHorizontal {
    left: 0 !important;
    right: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.contact__btn {
  text-align: center;
  height: fit-content;
  right: 0;
  width: 240px;
  top: 440px;
  margin-right: 144px;
  padding: 24px 32px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #5221e6;
  transition: all 0.125s ease-in-out;

  &:hover {
    background-color: #5221e6;
    transform: scale(1.02);
  }

  @media (max-width: 1360px) {
    right: auto;
    left: 0;
    top: 660px;
    margin-left: 144px;
  }

  @media (max-width: 750px) {
    margin-left: 32px;
  }

  @media (max-width: 600px) {
    padding: 8px;
    width: fit-content;
    left: 0;
    right: auto;
    top: 640px;
  }
}
