<section
  data-aos="fade-right"
  data-aos-offset="300"
  id="contact"
  class="contact relative"
>
  <form action="https://formsubmit.co/olivertheil@posteo.de" method="post">
    <h2 class="contact__heading marg--lr--72 center">Contact</h2>
    <span
      class="contact__subheading marg--lr--72 reg--18 absolute textAlign--left"
    >
      Now that you could get to know me better and I have surely aroused your
      interest, just write me.
    </span>
    <input
      type="text"
      name="name"
      class="input--positionHorizontal contact__input__name absolute"
      required
    />
    <input
      type="text"
      name="email"
      class="input--positionHorizontal contact__input__email absolute"
      required
    />
    <textarea
      #message
      name="message"
      cols="30"
      rows="4"
      class="input--positionHorizontal contact__input__message absolute"
      required
    ></textarea>
    <input type="hidden" name="_next" value="https://oliver-theil.de/confirm" />
    <p class="marg--lr--72 contact__heading__name reg--16 absolute">Name</p>
    <p class="marg--lr--72 contact__heading__email reg--16 absolute">E-mail</p>
    <p class="marg--lr--72 contact__heading__message reg--16 absolute">
      Message
    </p>
    <button type="submit" class="contact__btn absolute button--effect">
      Submit
    </button>
  </form>
</section>
