html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  max-width: 1920px;
  max-width: 100%;
  height: 542vh;
  margin: 0;
  background-color: black;
  * {
    font-family: "Sen", sans-serif;
    color: white;
  }

  background: linear-gradient(#000000, #2d063d, #2b0947, #290546);
  background-size: 400% 400%;

  @media (max-width: 1380px) {
    height: 560vh;
  }

  @media (max-width: 1300px) {
    height: 592vh;
  }

  @media (max-width: 800px) {
    justify-content: center;
    height: 652vh;
  }
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #5221e6;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

// Colors

.bgc--black--1 {
  background-color: black;
}

.bgc--black--2 {
  background-color: #181823af;
}

.bgc--purple {
  background-color: #5221e6;
}

.bgc--white {
  background-color: white;
}

// Fonts
// Bold

h1 {
  font-size: 7.6rem;

  @media (max-width: 1200px) {
    font-size: 5.5rem;
  }

  @media (max-width: 800px) {
    line-height: 6rem !important;
    font-size: 4.4rem;
  }

  @media (max-width: 600px) {
    line-height: 4rem !important;
    font-size: 3rem;
  }
}

h2 {
  font-size: 5.5rem;

  @media (max-width: 800px) {
    font-size: 3.2rem;
  }
}

h3 {
  font-size: 2.4rem;
}

.h4 {
  &--1 {
    font-size: 1.8rem;
  }

  &--2 {
    font-size: 1.6rem;
  }
}

.overline {
  font-size: 1.6rem;
}

button {
  font-size: 1.8rem;
  font-weight: 700;
}

h1,
h2,
h3,
.h4--1,
.h4--2 {
  font-weight: 700;
  margin-top: 12rem;

  @media (max-width: 800px) {
    margin-top: 6rem;
  }
}

//Regular

.reg {
  &--117 {
    font-size: 11.7rem;
  }

  &--18 {
    font-size: 1.8rem;
  }

  &--16 {
    font-size: 1.6rem;
  }
}

.reg--117,
.reg--18,
.reg--16 {
  font-weight: 400;
  margin-top: 4rem;

  @media (max-width: 720px) {
    width: fit-content;
    line-height: normal !important;
  }
}

.font {
  &--black {
    color: black;
  }

  &--white {
    color: white;
  }
}

//z-index

.z {
  &--1 {
    z-index: 1;
  }

  &--2 {
    z-index: 2;
  }

  &--3 {
    z-index: 3;
  }

  &--4 {
    z-index: 4;
  }

  &--5 {
    z-index: 5;
  }
}

.absolute {
  position: absolute !important;
}

.fixed {
  position: fixed !important;
}

.relative {
  position: relative !important;
}

.hide {
  display: none !important;
}

.show {
  display: flex !important;
}

*:focus {
  outline: none;
}

.marg--lr--72 {
  margin-left: 7.2rem;
  margin-right: 7.2rem;

  @media (max-width: 500px) {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }
}

.textBox {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  max-width: 100%;
}
