html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  max-width: 1920px;
  max-width: 100%;
  height: 542vh;
  margin: 0;
  background-color: black;
  * {
    font-family: "Sen", sans-serif;
    color: white;
  }

  background: linear-gradient(#000000, #2d063d, #2b0947, #290546);
  background-size: 400% 400%;

  @media (max-width: 1380px) {
    height: 560vh;
  }

  @media (max-width: 1300px) {
    height: 592vh;
  }

  @media (max-width: 800px) {
    justify-content: center;
    height: 652vh;
  }
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #5221e6;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

// Colors

.black-1-Bg {
  background-color: black;
}

.black-2-Bg {
  background-color: #181823af;
}

.purple-Bg {
  background-color: #5221e6;
}

.white-Bg {
  background-color: white;
}

// Fonts
// Bold

h1 {
  font-size: 7.6rem;

  @media (max-width: 1200px) {
    font-size: 5.5rem;
  }

  @media (max-width: 800px) {
    line-height: 6rem !important;
    font-size: 4.4rem;
  }

  @media (max-width: 600px) {
    line-height: 4rem !important;
    font-size: 3rem;
  }
}

h2 {
  font-size: 5.5rem;

  @media (max-width: 800px) {
    font-size: 3.2rem;
  }
}

h3 {
  font-size: 2.4rem;
}

.h4_1 {
  font-size: 1.8rem;
}

.h4_2 {
  font-size: 1.6rem;
}

.overline {
  font-size: 1.6rem;
}

button {
  font-size: 1.8rem;
  font-weight: 700;
}

h1,
h2,
h3,
.h4_1,
.h4_2 {
  font-weight: 700;
  margin-top: 12rem;

  @media (max-width: 800px) {
    margin-top: 6rem;
  }
}

//Regular

.reg117 {
  font-size: 11.7rem;
}

.reg18 {
  font-size: 1.8rem;
}

.reg16 {
  font-size: 1.6rem;
}

.reg117,
.reg18,
.reg16 {
  font-weight: 400;
  margin-top: 4rem;

  @media (max-width: 720px) {
    width: fit-content;
    line-height: normal !important;
  }
}

.black-Font {
  color: black;
}

.white-Font {
  color: white;
}

//z-index

.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.z3 {
  z-index: 3;
}

.z4 {
  z-index: 4;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

*:focus {
  outline: none;
}

.marginHorizontal72 {
  margin-left: 7.2rem;
  margin-right: 7.2rem;

  @media (max-width: 500px) {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }
}

.textBox {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  max-width: 100%;
}
