<section id="skills" class="skillset black-Bg">
    <p class="skillset-Heading z2">
      Skillset
    </p>
    <span class="skillset-Subheading z2">
      Egal welches Projekt ich code, Leidenschaft und Spaß ist immer an erster Stelle. Ob beim Start von einfachen Seiten mit HTML und CSS oder der 
      Einbindung von JavaScript und APIs. 
      <br><br> 
      Doch auch abseits der Softwareentwicklung habe ich viele Erfahrungen gesammelt, die unterschiedlicher
      nicht sein könnten. Ob im Flugzeugbau mit CFK oder Titan, 3D Druck oder Soft- und Hardwarebereich .   
      <br><br>
      Durch meine jahrelange Erfahrung in den verschiedensten Bereichen kann ich zu jedem Projekt andere Blickwinkel 
      einbringen und mit unterschiedlichen Teams auch jedes Ziel <b>gemeinsam</b> erreichen. 
    </span>
    <div class="skillsContainer">
      <div class="skillBox htmlcss">
        <img class="icon" src="/assets/icons/htmlcss.png">
        <p class="iconDescription">HTML/CSS</p>
      </div>
      <div class="skillBox js">
        <img class="icon" src="/assets/icons/java script.png">
        <p class="iconDescription">JavaScript</p>
      </div>
      <div class="skillBox angular">
        <img class="icon" src="/assets/icons/angular.png">
        <p class="iconDescription">Angular</p>
      </div>
      <div class="skillBox apis">
        <img class="icon" src="/assets/icons/api.png">
        <p class="iconDescription">APIs</p>
      </div>
      <div class="skillBox git">
        <img class="icon" src="/assets/icons/git.png">
        <p class="iconDescription">git</p>
      </div>
      <div class="skillBox scrum">
        <img class="icon" src="/assets/icons/scrum.png">
        <p class="iconDescription">Scrum</p>
      </div>
      <div class="skillBox hardware">
        <img class="icon" src="/assets/icons/computer.svg">
        <p class="iconDescription">Hardware</p>
      </div>
      <div class="skillBox design">
        <img class="icon" src="/assets/icons/pen.svg">
        <p class="iconDescription">Design</p>
      </div>
      <div class="skillBox print">
        <img class="icon" src="/assets/icons/3d.svg">
        <p class="iconDescription">3D Printing</p>
      </div>
    </div>
  </section>
