<section data-aos="fade-right" data-aos-offset="500" class="path bgc--black">
  <div class="marg--lr--72 path__text z--1">
    <h2 class="font--white">Mein Weg</h2>
    <span class="font--white reg--18">
      Mein Leben kannte nie einen klaren Weg. Schon in meiner Ausbildung zum
      Fluggerätmechaniker war mir immer klar, das dies nur ein Übergang ist. Das
      mein Herz für etwas ganz anderes schlägt. Mit dem Einstieg in die
      Softwareentwicklung, begann sich endlich ein Weg zu öffnen, den ich zuvor
      nicht finden konnte. Ein Bereich der mir wirklich alles bedeutet. Ich sehe
      mich genau in diesem Berufsweg und beginne direkt nach meinem Frontendkurs
      mit Backend.
    </span>
  </div>
  <img class="path__img absolute" src="assets/img/path2.jpg" />
</section>
