<section class="myPath white-Bg absolute">
  <div class="textBox">
    <h2 class="myPath-Heading marginHorizontal72 black-Font z2">
      Mein Weg bis heute
    </h2>
    <span class="myPath-Subheading marginHorizontal72 reg18 black-Font z2">
      Mein Leben kannte nie einen klaren Weg. Schon in der Ausbildung zum
      Fluggerätmechaniker war mir immer klar, das dies nur ein Übergang ist. Das
      mein Herz für etwas ganz anderes schlägt. Mit dem Einstieg in die
      Softwareentwicklung, begann endlich sich Der eine Weg zu öffnen, der das
      ist, was ich zuvor nicht finden konnte. Ein Bereich der mir wirklich alles
      bedeutet. Ich sehe mich genau in diesem Berufsweg und beginne direkt nach
      meinem Abschluss im Frontend mit Backend.
    </span>
  </div>
  <img class="myPathImg absolute" src="assets/img/path.jpg" />
</section>
