.path {
  height: fit-content;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.path__text {
  max-width: 580px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  margin-bottom: 60px;
}

.path__img {
  opacity: 0.2;
  width: 100vw;
  max-width: 100%;
  height: 458px;
  object-fit: cover;

  @media (max-width: 800px) {
    height: 370px;
  }
}
