<section class="myPath white-Bg">
    <p class="myPath-Heading black-Font z2">
      Mein Weg bis heute
    </p>
    <span class="myPath-Subheading black-Font z2">
      Als ich damals entschied das Abitur zu machen wusste ich nicht wofür. Mein Leben kannte nie einen klaren
      Weg. Jeden Tag dachte ich warum? Danach führte er mich in den Flugzeugbau und ich wurde Fluggerätmechaniker. Trotzdem war mir immer klar, 
      das das nur ein Übergang ist. Das mein Herz für etwas ganz anderes schlägt. Mit dem Einstieg in die Softwareentwicklung, begann endlich sich
      der eine Weg zu öffnen, der das ist, was ich zuvor nicht finden konnte. Ein Bereich der mir wirklich alles bedeutet. 
    </span>
    <img class="myPathImg" src="assets/img/path.jpg">
  </section>