<section class="marg--lr--72 moreaboutme">
  <h1>Mehr über mich</h1>
  <h3>Coden heißt mehr als nur Arbeit</h3>
  <p class="reg--18">
    Dann gegann für mich auch ein zweites Leben: Nach meiner momentanen Arbeit
    hieß es nur noch lernen und besser werden. Gleichzeitig wurde mir klar, wie
    blind ich durch mein damaliges Leben lief. Es gab kein Fortschritt, keine
    Entwicklung. Ein bloßes Arbeiten, nach Hause kommen, Wiederholung,
    Stillstand. Aber mit dem Einstieg in die Softwareentwicklung gab es jeden
    Tag einen neuen Schritt weiter nach oben. Dennoch: Softwareentwicklung war,
    ist und wird nicht jeden Tag einfach sein. Auch hier gibt es viele Fehler
    und Rückschläge. Aber aus jedem Schritt zurück, lernt man wie es zwei
    Schritte vorwärts geht. Coden ist Arbeit und eine Lebenseinstellung.
  </p>
  <h3>Mein Weg in eine andere Welt</h3>
  <p class="reg--18">
    Mit 10 Jahren bekam ich meinen ersten Computer und hatte nur eines: Angst.
    Ich wusste überhaupt nicht wie dieses Ding funktioniert und war froh, wenn
    eines der Spiele aus den Computer-Zeitschriften startete. Über Monate und
    Jahre hinweg habe ich mir Wissen angeeignet und wurde mit der Zeit immer
    sicherer. Der Computer wurde mein zweites Zuhause und ein Rückzugsort in
    unzähligen Welten. Mit den Jahren interessierte mich vor allem Computer
    Hardware und begann mit 16 Jahren meinen ersten Computer selbst zu bauen. Es
    dauerte Stunden und funktionierte natürlich nicht. Aber nach weiteren
    Stunden Arbeit und Fehlersuche startete er. Damit begann für mich ein
    weiterer Schritt in die Welt der Einsen und Nullen. Über die Jahre baute ich
    unzählige Systeme und sammelte Erfahrung in Softwareoptimierung, Übertakten
    und Spannungsregulierung bei Computern.
  </p>
  <h3>Ein absoluter Nerd</h3>
  <p class="reg--18">
    Natürlich bin ich leidenschaftlicher Gamer und spiele nicht nur gerne
    sondern auch viel. Am besten auch noch Games die einen fordern, wie z.B.
    Dark Souls, Sekiro oder Elden Ring. Aber (J)RPG's dürfen natürlich auch
    nicht fehlen: Von Skyrim zu Fallout hin zu Nier Automata oder The Witcher
    spiele ich alles was mir Spaß macht und mich für ein paar
    Stunden/Tage/Wochen... in eine andere Welt zieht. <br />
    Es wird noch schlimmer... Denn was wäre ich ohne meinen 3D-Resin-Drucker?
    Ein weiteres Hobby ist das Drucken und Bemalen von Figuren. Dabei kann man
    das ganze schon fast mit Coden vergleichen: Die Zeit vergeht wie im Fluge
    und ein kleiner Fehler kann Stunden Arbeit kosten. Steht eine Figur fertig
    an der Wand, könnte man stolzer nicht sein.
  </p>
</section>
