h1 {
  @media (max-width: 800px) {
    margin-top: 120px;
  }
}

h3 {
  margin-top: 40px;
}

p {
  margin-top: 20px;
}

.moreaboutme {
  height: fit-content;
  margin-bottom: 40px;
}

.moreaboutme__img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  opacity: 0.4;

  @media (max-width: 1000px) {
    opacity: 0.2;
  }
}

.moreaboutme__div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.moreaboutme__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  max-width: 600px;
  height: fit-content;
  width: fit-content;
  text-align: right;
}

.moreaboutme__text--turned {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-end;
  align-items: flex-start;
  max-width: 600px;
  height: fit-content;
  width: fit-content;
}

.moreaboutme__div--turned {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.macbook {
  left: 0;
}

.computer {
  right: 0;
}

.print {
  left: 0;
}
