<section data-aos="fade-right" data-aos-offset="300" class="path bgc--black">
  <div class="filter">
    <div class="text__container">
      <div class="marg--lr--72 path__text z--1">
        <h2 class="textAlign--left">My <b class="font--purple">path</b></h2>
        <span class="font--white reg--18 textAlign--left">
          My journey began as an aircraft mechanic in an industrial company.
          Already during my job as an mechanic, I was always interested in IT
          and know my heart beats for something different. After some first
          coding tutorials, a path finally opened up that I hadn't been able to
          find before. I see myself exactly on this career path and start
          directly after my front-end course with back-end.
        </span>
      </div>
    </div>
  </div>
</section>
