<section data-aos="fade-right" data-aos-offset="300" class="path bgc--black">
  <div class="filter">
    <div class="marg--lr--72 path__text z--1">
      <h2 class="center">My <b class="font--purple">path</b></h2>
      <span class="font--white reg--18 textAlign--left">
        My life never knew a clear path. Even during my training as an aircraft
        mechanic, it was always clear to me that this was only a transition.
        That my heart beats for something completely different. With software
        development, a path finally opened up that I had not been able to find
        before. An area that means everything to me. I see myself exactly on
        this career path and start directly after my front-end course with
        back-end.
      </span>
    </div>
  </div>
</section>
