<section data-aos="fade-right" data-aos-offset="300" class="path bgc--black">
  <div class="filter">
    <div class="marg--lr--72 path__text z--1">
      <h2 class="center">Mein Weg</h2>
      <span class="font--white reg--18 justify">
        Mein Leben kannte nie einen klaren Weg. Schon in meiner Aus&shy;bildung
        zum Flug&shy;gerät&shy;mechaniker war mir immer klar, das dies nur ein
        Über&shy;gang ist. Das mein Herz für etwas ganz anderes schlägt. Mit dem
        Ein&shy;stieg in die Soft&shy;ware&shy;entwicklung, begann sich endlich
        ein Weg zu öffnen, den ich zuvor nicht finden konnte. Ein Bereich der
        mir wirklich alles bedeutet. Ich sehe mich genau in diesem
        Berufs&shy;weg und beginne direkt nach meinem Frontend&shy;kurs mit
        Backend.
      </span>
    </div>
  </div>
</section>
