<section
  data-aos="fade-right"
  data-aos-offset="400"
  id="skills"
  class="skillset bgc--black"
>
  <div class="marg--lr--72 skillset__text z--2">
    <h2 class="textAlign--left"><b class="font--purple">Skills</b>et</h2>
    <span class="reg--18 textAlign--left">
      No matter what pro&shy;ject I code, passion and fun are al&shy;ways in the
      first place. Whether starting simple pages with HTML and CSS, the first
      lines in Java&shy;Script, or com&shy;plex pages with Angular and Firebase.
      <br /><br />
      But also away from soft&shy;ware develop&shy;ment, I have gathered many
      ex&shy;periences that couldn't be more different. Whether in the
      software/&shy;hardware area, in the creation of custom PC builds, or
      optimization, over&shy;clocking, and voltage regula&shy;tion for
      computers.
      <br /><br />
      Through my years of ex&shy;perience in a wide variety of I can bring
      different per&shy;spectives to every pro&shy;ject and achieve every goal
      together with different teams.
    </span>
  </div>
  <div class="marg--lr--72 skillset__container">
    <div
      data-aos="fade-right"
      data-aos-offset="100"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox htmlcss"
    >
      <img class="skillset__icon" src="/assets/icons/htmlLogo.png" />
      <p class="skillset__icon__description">HTML</p>
    </div>
    <div
      data-aos="fade-right"
      data-aos-offset="140"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox htmlcss"
    >
      <img class="skillset__icon" src="/assets/icons/cssLogo.png" />
      <p class="skillset__icon__description">CSS</p>
    </div>
    <div
      data-aos="fade-right"
      data-aos-offset="180"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox js"
    >
      <img class="skillset__icon" src="/assets/icons/jsLogo.png" />
      <p class="skillset__icon__description">JS</p>
    </div>
    <div
      data-aos="fade-right"
      data-aos-offset="220"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox angular"
    >
      <img class="skillset__icon" src="/assets/icons/angularLogo.png" />
      <p class="skillset__icon__description">Angular</p>
    </div>
    <div
      data-aos="fade-right"
      data-aos-offset="260"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox git"
    >
      <img class="skillset__icon" src="/assets/icons/gitLogo.png" />
      <p class="skillset__icon__description">git</p>
    </div>
    <div
      data-aos="fade-right"
      data-aos-offset="300"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox scrum"
    >
      <i class="fa-solid skillset__icon fa-people-group fa-5x"></i>
      <p class="skillset__icon__description">Scrum</p>
    </div>
    <div
      data-aos="fade-right"
      data-aos-offset="340"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox apis"
    >
      <i class="fa-solid skillset__icon fa-gear fa-5x"></i>
      <p class="skillset__icon__description">APIs</p>
    </div>
    <div
      data-aos="fade-right"
      data-aos-offset="380"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox design"
    >
      <i class="fa-solid skillset__icon fa-database fa-5x"></i>
      <p class="skillset__icon__description">Database</p>
    </div>
    <div
      data-aos="fade-right"
      data-aos-offset="420"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox hardware"
    >
      <i class="fa-solid skillset__icon fa-computer fa-5x"></i>
      <p class="skillset__icon__description">Hardware</p>
    </div>
    <div
      data-aos="fade-right"
      data-aos-offset="460"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox design"
    >
      <i class="fa-solid skillset__icon fa-palette fa-5x"></i>
      <p class="skillset__icon__description">Design</p>
    </div>
  </div>
</section>
