<section
  data-aos="fade-right"
  data-aos-offset="400"
  id="skills"
  class="skillset bgc--black"
>
  <div class="marg--lr--72 skillset__text z--2">
    <h2 class="center">Skillset</h2>
    <span class="reg--18 justify">
      Egal welches Projekt ich code, Leiden&shy;schaft und Spaß ist immer an
      erster Stelle. Ob beim Start von einfachen Seiten mit HTML und CSS, den
      ersten Zeilen in JavaScript oder komplexen Seiten mit Angular und
      Firebase.
      <br /><br />
      Doch auch abseits der Soft&shy;ware&shy;entwicklung habe ich viele
      Er&shy;fahrungen gesammelt, die unter&shy;schied&shy;licher nicht sein
      könnten. Ob im Soft-/Hardware&shy;bereich, beim Er&shy;stellen von custom
      PC-Builds, oder Optimierung, Übertakten und Spannungs&shy;regulierung bei
      Computern.
      <br /><br />
      Durch meine jahre&shy;lange Erfahrung in den ver&shy;schieden&shy;sten
      Be&shy;reichen kann ich zu jedem Projekt andere Blick&shy;winkel
      ein&shy;bringen und mit unter&shy;schiedlichen Teams auch jedes Ziel
      <b class="skillset__text__b">gemeinsam</b> erreichen.
    </span>
  </div>
  <div class="marg--lr--72 skillset__container">
    <div
      data-aos="fade-right"
      data-aos-offset="100"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox htmlcss"
    >
      <img class="skillset__icon" src="/assets/icons/htmlLogo.png" />
      <p class="skillset__icon__description">HTML</p>
    </div>
    <div
      data-aos="fade-right"
      data-aos-offset="140"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox htmlcss"
    >
      <img class="skillset__icon" src="/assets/icons/cssLogo.png" />
      <p class="skillset__icon__description">CSS</p>
    </div>
    <div
      data-aos="fade-right"
      data-aos-offset="180"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox js"
    >
      <img class="skillset__icon" src="/assets/icons/jsLogo.png" />
      <p class="skillset__icon__description">JS</p>
    </div>
    <div
      data-aos="fade-right"
      data-aos-offset="220"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox angular"
    >
      <img class="skillset__icon" src="/assets/icons/angularLogo.png" />
      <p class="skillset__icon__description">Angular</p>
    </div>
    <div
      data-aos="fade-right"
      data-aos-offset="260"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox git"
    >
      <img class="skillset__icon" src="/assets/icons/gitLogo.png" />
      <p class="skillset__icon__description">git</p>
    </div>
    <div
      data-aos="fade-right"
      data-aos-offset="300"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox scrum"
    >
      <i class="fa-solid skillset__icon fa-people-group fa-5x"></i>
      <p class="skillset__icon__description">Scrum</p>
    </div>
    <div
      data-aos="fade-right"
      data-aos-offset="340"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox apis"
    >
      <i class="fa-solid skillset__icon fa-gear fa-5x"></i>
      <p class="skillset__icon__description">APIs</p>
    </div>
    <div
      data-aos="fade-right"
      data-aos-offset="380"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox design"
    >
      <i class="fa-solid skillset__icon fa-database fa-5x"></i>
      <p class="skillset__icon__description">Database</p>
    </div>
    <div
      data-aos="fade-right"
      data-aos-offset="420"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox hardware"
    >
      <i class="fa-solid skillset__icon fa-computer fa-5x"></i>
      <p class="skillset__icon__description">Hardware</p>
    </div>
    <div
      data-aos="fade-right"
      data-aos-offset="460"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox design"
    >
      <i class="fa-solid skillset__icon fa-palette fa-5x"></i>
      <p class="skillset__icon__description">Design</p>
    </div>
  </div>
</section>
