<section
  data-aos="fade-right"
  data-aos-offset="400"
  id="skills"
  class="skillset bgc--black"
>
  <div class="marg--lr--72 skillset__text z--2">
    <h2>Skillset</h2>
    <span class="reg--18">
      Egal welches Projekt ich code, Leidenschaft und Spaß ist immer an erster
      Stelle. Ob beim Start von einfachen Seiten mit HTML und CSS, den ersten
      Zeilen in JavaScript oder komplexen Seiten mit Angular und Firebase.
      <br /><br />
      Doch auch abseits der Softwareentwicklung habe ich viele Erfahrungen
      gesammelt, die unterschiedlicher nicht sein könnten. Ob im
      Soft-/Hardwarebereich, beim Erstellen von custom PC-Builds, oder
      Optimierung, Übertakten und Spannungsregulierung bei Computern.
      <br /><br />
      Durch meine jahrelange Erfahrung in den verschiedensten Bereichen kann ich
      zu jedem Projekt andere Blickwinkel einbringen und mit unterschiedlichen
      Teams auch jedes Ziel
      <b class="skillset__text__b">gemeinsam</b> erreichen.
    </span>
  </div>
  <div class="marg--lr--72 skillset__container">
    <div
      data-aos="fade-right"
      data-aos-offset="100"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox htmlcss"
    >
      <img class="skillset__icon" src="/assets/icons/htmlLogo.png" />
      <p class="skillset__icon__description">HTML</p>
    </div>
    <div
      data-aos="fade-right"
      data-aos-offset="140"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox htmlcss"
    >
      <img class="skillset__icon" src="/assets/icons/cssLogo.png" />
      <p class="skillset__icon__description">CSS</p>
    </div>
    <div
      data-aos="fade-right"
      data-aos-offset="180"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox js"
    >
      <img class="skillset__icon" src="/assets/icons/jsLogo.png" />
      <p class="skillset__icon__description">JS</p>
    </div>
    <div
      data-aos="fade-right"
      data-aos-offset="220"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox angular"
    >
      <img class="skillset__icon" src="/assets/icons/angularLogo.png" />
      <p class="skillset__icon__description">Angular</p>
    </div>
    <div
      data-aos="fade-right"
      data-aos-offset="260"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox git"
    >
      <img class="skillset__icon" src="/assets/icons/gitLogo.png" />
      <p class="skillset__icon__description">git</p>
    </div>
    <div
      data-aos="fade-right"
      data-aos-offset="300"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox scrum"
    >
      <i class="fa-solid skillset__icon fa-people-group fa-5x"></i>
      <p class="skillset__icon__description">Scrum</p>
    </div>
    <div
      data-aos="fade-right"
      data-aos-offset="340"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox apis"
    >
      <i class="fa-solid skillset__icon fa-gear fa-5x"></i>
      <p class="skillset__icon__description">APIs</p>
    </div>
    <div
      data-aos="fade-right"
      data-aos-offset="380"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox design"
    >
      <i class="fa-solid skillset__icon fa-database fa-5x"></i>
      <p class="skillset__icon__description">Database</p>
    </div>
    <div
      data-aos="fade-right"
      data-aos-offset="420"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox hardware"
    >
      <i class="fa-solid skillset__icon fa-computer fa-5x"></i>
      <p class="skillset__icon__description">Hardware</p>
    </div>
    <div
      data-aos="fade-right"
      data-aos-offset="460"
      data-aos-easing="ease-in-sine"
      class="skillset__skillbox design"
    >
      <i class="fa-solid skillset__icon fa-palette fa-5x"></i>
      <p class="skillset__icon__description">Design</p>
    </div>
  </div>
</section>
