<section id="contact" class="contactMe">
    <p class="contactMe-Heading">
      Kontaktiere mich
    </p>
    <span class="contactMe-Subheading">
        Da du mich nun näher kennen lernen konntest und ich sicherlich dein Interesse geweckt habe, schreib mir doch einfach.
    </span>
    <div class="inputContainer">
      <input type="text" class="nameInput">
      <input type="text" class="emailInput">
      <textarea cols="30" rows="4" class="messageInput"></textarea>
      <p class="contactMeNameHeading">Name</p>
      <p class="contactMeEmailHeading">Email</p>
      <p class="contactMeMessageHeading">Message</p>
    </div>
  </section>
