//contact Me

.contactMe {
  height: 60rem;
  width: 100vw;
  max-width: 100%;
  top: 496vh;

  @media (max-width: 1380px) {
    top: 470vh;
  }

  @media (max-width: 1300px) {
    top: 490vh;
    height: 84rem;
  }

  @media (max-width: 800px) {
    top: 550vh;
  }
}

.contactMe-Heading {
  width: fit-content;
  height: fit-content;
}

.contactMe-Subheading {
  max-width: 54rem;
  max-height: 5.5rem;
  margin-top: 4rem;
  text-align: left;
  font-size: large;

  @media (max-width: 700px) {
    max-width: 34rem;
  }
}

.contactMeNameHeading {
  width: fit-content;
  height: fit-content;
  top: 12rem;
  right: 0;
  margin-top: 0;

  @media (max-width: 1300px) {
    top: 30rem;
  }
}

.nameInput {
  width: 52rem;
  height: 5rem;
  top: 15.2rem;
  right: 0;
  border: none;
  padding-right: 10px;
  padding-left: 10px;
  background: #181823;

  @media (max-width: 1300px) {
    top: 33rem;
  }
}

.contactMeEmailHeading {
  width: fit-content;
  height: fit-content;
  top: 24.2rem;
  right: 0;
  margin-top: 0;

  @media (max-width: 1300px) {
    top: 42rem;
  }
}

.emailInput {
  width: 52rem;
  height: 5rem;
  top: 27.4rem;
  right: 0;
  border: none;
  padding-right: 10px;
  padding-left: 10px;
  background: #181823;

  @media (max-width: 1300px) {
    top: 45rem;
  }
}

.contactMeMessageHeading {
  width: fit-content;
  height: fit-content;
  right: 0;
  top: 36.4rem;
  margin-top: 0;

  @media (max-width: 1300px) {
    top: 52rem;
  }
}

.messageInput {
  width: 52rem;
  height: 10rem;
  right: 0;
  top: 39rem;
  padding: 10px;
  resize: none;
  overflow: auto;
  border: none;
  background: #181823;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 1300px) {
    top: 55rem;
  }
}

.contactMeNameHeading,
.contactMeEmailHeading,
.contactMeMessageHeading,
.nameInput,
.emailInput,
.messageInput,
.contactButton {
  right: 7.2rem;

  @media (max-width: 1300px) {
    left: 7.2rem;
  }

  @media (max-width: 700px) {
    max-width: 32rem;
  }

  @media (max-width: 500px) {
    left: 1.6rem;
    max-width: 26rem;
  }
}

.contactButton {
  text-align: center;
  width: 54rem;
  height: fit-content;
  top: 58rem;
  padding: 24px 32px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #5221e6;
  transition: all 0.125s ease-in-out;

  &:hover {
    background-color: #5221e6;
    transform: scale(1.02);
  }

  @media (max-width: 1300px) {
    top: 72rem;
  }

  @media (max-width: 700px) {
    max-width: 34rem;
  }

  @media (max-width: 500px) {
    max-width: 28rem;
  }
}
