<section id="contact" class="contactMe absolute">
  <h2 class="contactMe-Heading marginHorizontal72">Kontaktiere mich</h2>
  <span class="contactMe-Subheading marginHorizontal72 absolute reg18">
    Da du mich nun näher kennen lernen konntest und ich sicherlich dein
    Interesse geweckt habe, schreib mir doch einfach.
  </span>
  <input type="text" class="nameInput absolute" />
  <input type="text" class="emailInput absolute" />
  <textarea cols="30" rows="4" class="messageInput absolute"></textarea>
  <p class="contactMeNameHeading reg16 absolute">Name</p>
  <p class="contactMeEmailHeading reg16 absolute">Email</p>
  <p class="contactMeMessageHeading reg16 absolute">Message</p>
  <button class="contactButton absolute">Bestätigen</button>
</section>
