<section id="projects" class="projects">
    <p class="projects-Heading">Meine Projekte</p>
    <div class="projectBox white-Bg" style="right: 72px; top: 120px;">
      <img class="projectBoxImg" src="assets/img/controller.jpg">
      <figcaption class="projectBoxTextBox">
        <p class="projectBox-Heading black-Font">
          Filler-Überschrift
        </p>
        <span class="projectBox-Subheading black-Font">
          Filler-Text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti molestias ipsa animi distinctio laudantium repellendus!
        </span>
      </figcaption>
    </div>
    <div class="projectBox white-Bg" style="right: 72px; top: 950px;">
      <img class="projectBoxImg" src="assets/img/controller.jpg">
      <figcaption class="projectBoxTextBox">
        <p class="projectBox-Heading black-Font">
          Filler-Überschrift
        </p>
        <span class="projectBox-Subheading black-Font">
          Filler-Text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti molestias ipsa animi distinctio laudantium repellendus!
        </span>
      </figcaption>
    </div>  
    <div class="projectBox white-Bg" style="left: 72px; top: 306px;">
      <img class="projectBoxImg" src="assets/img/controller.jpg">
      <figcaption class="projectBoxTextBox">
        <p class="projectBox-Heading black-Font">
          Filler-Überschrift
        </p>
        <span class="projectBox-Subheading black-Font">
          Filler-Text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti molestias ipsa animi distinctio laudantium repellendus!
        </span>
      </figcaption>
    </div>  
    <div class="projectBox white-Bg" style="left: 72px; top: 1136px;">
      <img class="projectBoxImg" src="assets/img/controller.jpg">
      <figcaption class="projectBoxTextBox">
        <p class="projectBox-Heading black-Font">
          Filler-Überschrift
        </p>
        <span class="projectBox-Subheading black-Font">
          Filler-Text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti molestias ipsa animi distinctio laudantium repellendus!
        </span>
      </figcaption>
    </div>
    <div class="otherProjectsContainer">
      <span class="otherProjectsSpan">
        Andere Projekte
      </span>
    </div>
  </section>
