.projects {
  width: 100vw;
  max-width: 100%;
  height: 206vh;
  top: 290vh;
  border-bottom: 1px solid #5221e67e;

  @media (max-width: 1300px) {
    top: 310vh;
  }
}

.projectBox-Heading {
  width: fit-content;
  height: fit-content;
  margin-top: 2rem;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
}

.projectBox-Subheading {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
}

.projectBox {
  width: 60rem;
  height: 80rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  transition: all 0.125s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }

  @media (max-width: 1380px) {
    height: 30rem;
    width: 80rem;
  }

  @media (max-width: 960px) {
    width: 60rem;
  }
}

@media (max-width: 1380px) {
  .turnBox {
    display: flex;
    flex-direction: row-reverse;
  }

  .setBox {
    display: flex;
  }
}

.projectBoxImg {
  object-fit: cover;
  width: 60rem;
  height: 60rem;

  @media (max-width: 1380px) {
    width: 40%;
    height: 30rem;
  }

  @media (max-width: 960px) {
    width: 50%;
  }
}

.right-1 {
  right: 7.2rem;
  top: 12rem;

  @media (max-width: 1380px) {
    left: auto;
    top: 96rem;
  }

  @media (max-width: 800px) {
  }
}

.right-2 {
  right: 7.2rem;
  top: 96rem;

  @media (max-width: 1380px) {
    right: auto;
    left: 7.2rem;
    top: 130rem;
  }

  @media (max-width: 800px) {
  }
}

.left-1 {
  left: 7.2rem;
  top: 28rem;

  @media (max-width: 1380px) {
    right: 7.2rem;
    left: auto;
  }

  @media (max-width: 800px) {
  }
}

.left-2 {
  left: 7.2rem;
  top: 112rem;

  @media (max-width: 1380px) {
    top: 60rem;
  }

  @media (max-width: 800px) {
  }
}

.otherProjectsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 32px;
  width: 25rem;
  height: 7.5rem;
  right: 27rem;
  top: 183rem;
  cursor: pointer;
  border: 1px solid #5221e6;
  box-sizing: border-box;
  transition: all 0.125s ease-in-out;

  &:hover {
    background-color: #5221e6;
    transform: scale(1.02);
  }
}

.otherProjectsSpan {
  width: 18rem;
  height: 2.7rem;
  left: 32px;
  top: 24px;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
}
