<section id="projects" class="projects relative">
  <h2 class="projects__heading marg--lr--72">Meine Projekte</h2>
  <div class="projects__box turn bgc--white absolute right--1">
    <img class="projects__box__img" src="assets/img/controller.jpg" />
    <figcaption class="projects__box__text relative">
      <h3 class="projects__box__heading font--black">Filler-Überschrift</h3>
      <span class="projects__box__description reg--18 font--black">
        Filler-Text: Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Corrupti molestias ipsa animi distinctio laudantium repellendus!
      </span>
      <div class="projects__box__icons__div absolute">
        <img class="projects__box__icons" src="/assets/icons/github.png" />
        <img class="projects__box__icons" src="/assets/icons/arrow.png" />
      </div>
    </figcaption>
  </div>
  <div class="projects__box bgc--white change absolute right--2">
    <img class="projects__box__img" src="assets/img/controller.jpg" />
    <figcaption class="projects__box__text relative">
      <h3 class="projects__box__heading font--black">Filler-Überschrift</h3>
      <span class="projects__box__description reg--18 font--black">
        Filler-Text: Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Corrupti molestias ipsa animi distinctio laudantium repellendus!
      </span>
      <div class="projects__box__icons__div absolute">
        <img class="projects__box__icons" src="/assets/icons/github.png" />
        <img class="projects__box__icons" src="/assets/icons/arrow.png" />
      </div>
    </figcaption>
  </div>
  <div class="projects__box turn bgc--white absolute left--1">
    <img class="projects__box__img" src="assets/img/controller.jpg" />
    <figcaption class="projects__box__text relative">
      <h3 class="projects__box__heading font--black">Filler-Überschrift</h3>
      <span class="projects__box__description reg--18 font--black">
        Filler-Text: Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Corrupti molestias ipsa animi distinctio laudantium repellendus!
      </span>
      <div class="projects__box__icons__div absolute">
        <img class="projects__box__icons" src="/assets/icons/github.png" />
        <img class="projects__box__icons" src="/assets/icons/arrow.png" />
      </div>
    </figcaption>
  </div>
  <div class="projects__box bgc--white change absolute left--2">
    <img class="projects__box__img" src="assets/img/controller.jpg" />
    <figcaption class="projects__box__text relative">
      <h3 class="projects__box__heading font--black">Filler-Überschrift</h3>
      <span class="projects__box__description reg--18 font--black">
        Filler-Text: Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Corrupti molestias ipsa animi distinctio laudantium repellendus!
      </span>
      <div class="projects__box__icons__div absolute">
        <img class="projects__box__icons" src="/assets/icons/github.png" />
        <img class="projects__box__icons" src="/assets/icons/arrow.png" />
      </div>
    </figcaption>
  </div>
  <div class="projects__other__div absolute">
    <button class="projects__other__btn">Andere Projekte</button>
  </div>
</section>
