<section id="projects" class="projects absolute">
  <h2 class="projects-Heading marginHorizontal72">Meine Projekte</h2>
  <div class="projectBox turnBox white-Bg absolute right-1">
    <img class="projectBoxImg" src="assets/img/controller.jpg" />
    <figcaption class="textBox">
      <h3 class="projectBox-Heading black-Font">Filler-Überschrift</h3>
      <span class="projectBox-Subheading reg18 black-Font">
        Filler-Text: Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Corrupti molestias ipsa animi distinctio laudantium repellendus!
      </span>
    </figcaption>
  </div>
  <div class="projectBox white-Bg setBox absolute right-2">
    <img class="projectBoxImg" src="assets/img/controller.jpg" />
    <figcaption class="textBox">
      <h3 class="projectBox-Heading black-Font">Filler-Überschrift</h3>
      <span class="projectBox-Subheading reg18 black-Font">
        Filler-Text: Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Corrupti molestias ipsa animi distinctio laudantium repellendus!
      </span>
    </figcaption>
  </div>
  <div class="projectBox turnBox white-Bg absolute left-1">
    <img class="projectBoxImg" src="assets/img/controller.jpg" />
    <figcaption class="textBox">
      <h3 class="projectBox-Heading black-Font">Filler-Überschrift</h3>
      <span class="projectBox-Subheading reg18 black-Font">
        Filler-Text: Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Corrupti molestias ipsa animi distinctio laudantium repellendus!
      </span>
    </figcaption>
  </div>
  <div class="projectBox white-Bg setBox absolute left-2">
    <img class="projectBoxImg" src="assets/img/controller.jpg" />
    <figcaption class="textBox">
      <h3 class="projectBox-Heading black-Font">Filler-Überschrift</h3>
      <span class="projectBox-Subheading reg18 black-Font">
        Filler-Text: Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Corrupti molestias ipsa animi distinctio laudantium repellendus!
      </span>
    </figcaption>
  </div>
</section>
<!--
  <div class="otherProjectsContainer absolute">
    <span class="otherProjectsSpan absolute"> Andere Projekte </span>
  </div> -->
